body{
	margin:  0;
	padding: 0;
	background:#e84118;
}

.voice-box{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background:#e84118;
	height:40px;
	border-radius:40px;
	padding:10px;
}
/*.voice-box:hover > .voice-txt{
	width:240px;
	padding:0 6px;
}
*/
.voice-btn:hover {
	background:#fff;
	box-shadow:0 0 10px rgba(255,255,255,1),
	           0 0 20px rgba(255,255,255,1),
	           0 0 30px rgba(255,255,255,1),
			   0 0 0 60px rgba(255,255,255,0.05),
			   0 0 0 45px rgba(255,255,255,0.05),
			   0 0 0 30px rgba(255,255,255,0.05),
               0 0 0 15px rgba(255,255,255,0.05);
				
}
	

	
.voice-btn{
	color:#353b48; /*#e84118*/
	float:right;
	width:40px;
	height:40px;
	border-radius:50%;
	/*background:#00a8ff;*/
	background:rgba(255,255,255,.2);
	color:#fbc531;
	transition:.5s;
	display:flex;
	justify-content:center;
	align-items:center;
	transform:0.4s;
}

.voice-txt{
border:none;
background:none;
outline:none;
float:left;
padding:0;
color:white;
font-size:16px;
transform:0.4s;
line-height:40px;
width:0px;
}