{
    domain {
        time, 
        protocol,
        urls [{ host, endpoint }]
    }
}

frontier
        |_  { domainname }
                            |_  pending.json
                                            |_ [hyperlink]
                            |_  visited.json
                                            |_ { hyperlink { timestamp [value] } }